{% extends 'base.html' %}



<body class="home">
	<!-- Fixed navbar -->
{% block content %}
    <header id="head">
		<div class="container">
			<div class="row">
                <div class="col-sm-8" style="padding-top: 24ch">
                    <h1 class="lead">Вітаємо Вас, в мережі рибаків</h1>
                </div>
                <div class="col-sm-4" style="padding-top: 17ch">
                    <form id="login_form"  method="post" action="/login">{% csrf_token %}
                        <div class="form-group">
                            <input required oninvalid="setCustomValidity('Введіть свій email')"
                                   oninput="setCustomValidity('')" type="email" class="form-control"
                                   id="user_login" name="user_login" placeholder="Введіть email">
                        </div>
                        <div class="form-group">
                            <input required oninvalid="setCustomValidity('Введіть пароль')"
                                   oninput="setCustomValidity('')"  type="password" class="form-control"
                                   id="pass_login" name="pass_login" placeholder="Введіть пароль" minlength="8">
                        </div>

                        {%if login_error%}
                            <div>
                                <label class="login_error">{{login_error}}</label>
                            </div>
                        {%endif%}
                        <br>
                        <button type="submit" class="btn btn-default">Увійти</button>
                    </form>
                    <br>
                    <div>
                        <form id="registration_form" method="post" action="/registry">{% csrf_token %}
                            {% if not error %}
                            <div  id="block2">
                            {% endif %}
                                <div class="form-group">
                                    <input required oninvalid="setCustomValidity('Заповніть це поле')"
                                           oninput="setCustomValidity('')" type="text" class="form-control"
                                           id="first_name_reg" name="first_name_reg" placeholder="Ім'я">
                                </div>
                                <div class="form-group">
                                    <input required oninvalid="setCustomValidity('Введіть своє прізвище')"
                                           oninput="setCustomValidity('')" type="text" class="form-control"
                                           id="last_name_reg" name="last_name_reg" placeholder="Прізвище">
                                </div>
                                {% if error %}
                                    <label style="color:white">Користувач "{{ email }}" уже існує!</label>
                                {% endif %}
                                <div class="form-group">
                                    <input required oninvalid="setCustomValidity('Введіть правильну пошту')"
                                           oninput="setCustomValidity('')"type="email" class="form-control"
                                           id="email_reg" name="email_reg" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input required oninvalid="setCustomValidity('Введіть пароль')"
                                           oninput="setCustomValidity('')"type="password" class="form-control"
                                           id="pass1_reg" name="pass1_reg" placeholder="Пароль" minlength="8">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control"
                                           id="pass2_reg" name="pass2_reg" placeholder="Повторіть пароль" minlength="8">
                                </div>

                                <button type="submit" class="btn btn-default">Реєстрація</button>
                            </div>
                        </form>
                        <button id="first_registration" class="btn btn-default" onclick="registrationBlock()">Реєстрація</button>
                    </div>
                </div>
			</div>
		</div>
	</header>

    <div class="container text-center">
		<br> <br>
		<h2 class="thin">Система для об'єднання всіх рибаків</h2>
		<p class="text-muted">
            Найбільшими завжди бувають ті риби, що зірвалися з гачка.<br>
        </p>
	</div>
    <!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			<h3 class="text-center thin">Детальніше про систему Rybka</h3>
			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-group fa-5"></i>Соцмережа рибаків</h4></div>
					<div class="h-body text-center">
						<p>Наша команда створила для вас, риболовну соцмережу. Тут ви зможете знайти своїх друзів, переглянути їхні звіти з рибалок. Додати свої звіти. Спілкуватися</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-envelope-o fa-5"></i>Форум</h4></div>
					<div class="h-body text-center">
						<p>В нашій системі створено форум. Де можна створювати зареєстрованим користувачам свої теми, обговорювати різноманітні питання чи організовувати різного роду події</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-shopping-cart fa-5"></i>Барахолка</h4></div>
					<div class="h-body text-center">
						<p>Користувач, має можливість виставляти свої речі на продаж. В нашій системі покупки стають більш надійні ніж на інших платформах. Так як ви маєте змогу зайти на сторінку користувача, подивитись його фото, звіти з рибалок, почитати відгуки інших покупців.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-star-o fa-5"></i>Водойми</h4></div>
					<div class="h-body text-center">
						<p>В даному розділі користувачі можуть додавати водойми, або переглядати існуючі. Створювати в них звіти, обговорювати та критикувати</p>
					</div>
				</div>
			</div> <!-- /row  -->

		</div>
	</div>
     <!-- Highlights - jumbotron -->
{% endblock %}


</body>